
/* HERO IMAGE*/
.hero-image {
    background-image: url('../images/theature.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;       
}

/* TEXT BLOCK UNDER IMAGE*/
.hero-content {
    background: #111;
    padding: 40px 40px;
    color: white;
   
}

.hero-title {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    margin-bottom: 10px;
}

.hero-desc {
    max-width: 500px;
    font-size: 0.85rem;
    line-height: 1.5rem;
    color: #ccc;
}

/*RESPONSIVE */

/* Tablet */
@media (max-width: 991.98px) {
    .hero-image {
        height: 280px;
    }
}

/* Mobile */
@media (max-width: 575.98px) {
    .hero-image {
        height: 250px;
        background-position: center top;
    }

    .hero-title {
        font-size: 1.2rem;
    }

    .hero-desc {
        font-size: 0.8rem;
    }
}
